%h1 Browse TV Shows

%tbody
  - @tv_shows.each do |tv_show|
    %tr
      %td
        - if tv_show.image.attached?
          %div.polaroid
            = image_tag tv_show.image
            %div.container
              = tv_show.name
      %td= link_to 'Show', tv_show
      %td= link_to 'Destroy', tv_show, method: :delete, data: { confirm: 'Are you sure?' }
