<!-- Navigation bar -->

%nav.navbar.navbar-default{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "#"} TView
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        %a{href: "#"} Home
      %li
        %a{href: "#"} Shows
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          My Lists
          %b.caret
        %ul.dropdown-menu
          %li
            %a{href: "#"} Watch Later
          %li
            %a{href: "#"} Favourites
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{href: "#"} Link
  / /.navbar-collapse
