<!-- Navigation bar -->

%nav.navbar.navbar-default{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "/home"} TView
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        %a{href: "/home"} Home
      %li
        %a{href: "/tv_shows"} Shows
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown"}
          My Lists
          %b.caret
        %ul.dropdown-menu
          %li
            %a{:href => "/watchlater"} Watch Later
          %li
            %a{:href => "/favourites"} Favourites
      %li
        %a{href: "/contact"} Contact
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{href: "/login"} Log In
  / /.navbar-collapse
