.newsbox
  %h1= t('.title')
  %hr
  %br
  %p
    Wondering how Dancing on Ice will work with COVID-19 restrictions in place? Here's everything you need to know.
  %p
    ITV’s long-running skating competition Dancing on Ice is back this weekend for its 13th series, with hosts Holly Willoughby and Phillip Schofield returning to welcome a new cohort of celebrities to the rink.

    With the likes of Denise Van Outen, Rufus Hound, Myleene Klass and Rebekah Vardy included in this year’s line-up, as teased by Dancing on Ice’s first-look pics, the show’s 2021 series is set to be an exciting one – although with the UK still in the midst of a pandemic, ITV has made a few changes to the upcoming shows.

    While the pandemic has affected elements of training, with contestant Sonny Jay revealing to RadioTimes.com that coaches are unable to physically touch the celebrities or professionals, it also has resulted in some changes being made to the show’s judging panel and audience.
  %p
    Here’s everything you need to know about the COVID-19 protocols in place for the upcoming series of Dancing on Ice.
  %h2
    Dancing on Ice judging panel
  %p
    ITV has released images of Dancing on Ice’s judging panel, which separates the judges with perspex dividers.

    These types of dividers have already been seen on shows such as BBC Two’s Mock the Week.

    Therefore, judges Christopher Dean, Jayne Torvill, Ashley Banjo and John Barrowman will be sitting next to each other, but protected by the perspex sheeting.
  %h2
    Dancing on Ice studio audience
  %p
    The upcoming series of Dancing on Ice will be the first without a public studio audience.

    Instead, the show’s cast will become the audience as they watching one another perform from “all-new socially distanced cabaret style tables”.

    ITV has added that numbers in the studio are limited and that production of the show is fully in compliance with government guidance, which specifies that people “should work from home unless [they] can’t” with exemptions for “training and rehearsal of performances, recording studios and film and TV production”.
  %p
    Dancing on Ice 2021 starts on ITV on Sunday 17th January at 6pm. You can also check out what else is on with our TV Guide.
