%h1= t('.title')
%p= t('.welcome')

%body
  .slideshow-container
    .mySlides.fade
      .numbertext 1 / 3
      %a{:href => "/im_a_celebrity_news"}
        %img{:src => image_url("ImACeleb.jpg"), :style => "width:100%"}/
      .text Caption Text
    .mySlides.fade
      .numbertext 2 / 3
      %a{:href => "/strictly_news"}
        %img{:src => image_url("StrictlyComeDancing.jpg"), :style => "width:100%"}/
    .mySlides.fade
      .numbertext 3 / 3
      %a{:href => "/dancing_on_ice_news"}
        %img{:src => image_url("DancingOnIce.jpg"), :style => "width:100%"}/
  %br/
  %div{:style => "text-align:center"}
    %span.dot
    %span.dot
    %span.dot
