.boxed
  %h1 I’m A Celebrity off air again tonight as ITV confirms return date
  %hr
  %br
  %p
    The show return tomorrow night after extreme weather caused damage to the production base.
  %p
    Fans will have to wait one more night as I’m A Celebrity 2021 remains off air due to the effect of Storm Arwen, ITV has confirmed.
  %p
    The brutal weather in recent days has battered the production base at Gwrych Castle, where I’m A Celebrity is filmed, and as the wind persists, it’s still not possible for filming to resume and the celebrities to return to the castle. Tonight’s episode has been removed from the ITV schedule and replaced with Freddie and Jamie’s DNA Journey, meaning no highlights show will air in its place.
  %p
    It has been confirmed, however, that I’m A Celeb will return tomorrow night (Tuesday 30th November), with ITV saying: “I’m A Celebrity…Get Me Out Of Here! will return from tomorrow night on ITV and ITV Hub with a brand new show. Ant  Dec will be back presenting live from the Castle.”
  %p
    News that tonight’s episode had been cancelled was first announced on This Morning today (Monday 29th November), with Matthew Wright appearing alongside hosts Phillip Schofield and Holly Willoughby to discuss the latest update from Wales.
  %p
    Announcing that the show would not air tonight, Wright said the celebrities remained in their bubbles after being removed from the castle on Saturday.
  %p
    On Saturday night, ITV said in a statement: “Whilst we get the production base back up and running after suffering technical issues due to the storm, we have removed the celebrities from the castle.”
  %p
    It is understood that the safety of the contestants is the primary priority of the channel and all celebrities have been returned to quarantine until production is back up and running.
  %p
    At the weekend, ITV confirmed the I’m A Celeb production base had sustained “significant damage” in the stormy weather.
  %p
    Ant and Dec have been unable to present live from the site since the damage but the team worked round the clock to get the site back up and running after Storm Arwen caused significant damage to the production base on Saturday.
  %p
    I’m A Celebrity returns tomorrow at 9pm on ITV and ITV Hub. Previous episodes are available to catch up now on ITV Hub. Visit our Entertainment hub for more news and features, or find something to watch with our TV Guide.
