.boxed
  %h1= t('.title')
  %hr
  %br
  %p
    Strictly continues this weekend!
  %p
    Week Nine of Strictly Come Dancing was another exciting one, with one more couple earning their first perfect score and some stellar performances all around – and all but one will be doing it all over again for Week Ten.

    As the Strictly Come Dancing 2021 line-up took to the ballroom again, there was a shocker with Tilly Ramsay topping the Strictly Come Dancing leaderboard with her Couple’s Choice.

    As ever, two Strictly Come Dancing 2021 couples will be facing the dance-off on Sunday’s show, and one will be sent packing.
    Tom Fletcher left Strictly last week, but who will be following him this weekend?

    As the series continues, read on for everything you need to know about Strictly Come Dancing 2021.
  %h2
    What time is Strictly Come Dancing on?
  %p
    Strictly Come Dancing airs on BBC One on Saturdays and Sundays.
    The next live show will be on Saturday 20th November at 6:55pm. This Sunday’s results show will air at 7:20pm, where we’ll find out who will have to perform all over again.
  %h2
    Strictly Come Dancing 2021 release date
  %p
    The 2021 series started on Saturday 18th September at 7:45pm on BBC One with its highly-anticipated launch show.

    While in previous years fans had to wait another two weeks before seeing the celebs, this year the first live show kicked off the following week.

    On Thursday 2nd September, Dan Walker revealed when the series is set to start during an episode of BBC Breakfast.

    Whilst putting the date of co-anchor Louise Minchin’s BBC Breakfast departure into his phone calendar, he said: “I was just going to put your date in the diary.

    “I meet and greet the partner in a couple of days time, and actually the first show is on the 18th and then the live shows start on the 25th.”

    The BBC then released an excellent first-look at the series, showing our beloved pro dancers wandering around a very sparkly dystopian landscape.

    True to style, they were donning big hair and glamorous outfits before Nadiya Bychkova makes her way into the Elstree studio where the whole gang’s waiting for her.

    The talented bunch then perform a 70s-inspired routine to Donna Summer’s I Feel Love – and honestly, it was the perfect way to get in the mood for this series.
  %h2
    Who will host Strictly: It Takes Two in 2021?
  %p
    Zoe Ball announced she was leaving Strictly: It Takes Two earlier in 2021, prompting a lot of discussion on who would replace her.

    We finally got that all-important name on 10th June 2021, and it definitely came as a surprise to many.

    Janette Manrara announced she would be stepping down from her role as a professional dancer and would be taking on the It Takes Two gig instead.

    Taking to Instagram, the pro said: “I am absolutely thrilled to be joining @rylan on #ItTakesTwo this series! A show where we can sit and talk about dancing?!? It’s the dream! I can never replace the legendary @zoetheball, but I can only hope to make her as well as all of the @bbcstrictly fans proud.

    “To my wonderful EP and incredible friend @sarahjamesface, thank you and I love you with all my heart! The BEST boss I could have hoped for! To @jack.will.g, there are now words to describe my appreciation for you always through all these years! My dance mentor and best friend @jasongilkison I will miss being a part of your creative journeys on the dance floor more than you can ever imagine. And to the everyone who works on #Strictly, from hair and make-up, wardrobe, cameras, the lot…. it’s not goodbye, it’s more ‘I’ll see you around’ Thank you all for some of the most ‘fab-u-Lous’ memories of my life!

    “The hardest part will be saying goodbye to my fellow professional dancers and the famous Strictly dance floor! The professionals are the superheroes of the show and I will always champion them! I love you all so so much! May you continue inspiring and bringing so much joy to the nation as always! I am over the moon and cannot WAIT to get on that very special couch! And do not worry guys, I will always “keeeeeeeeeeeep dancing”! It Takes Two…… ‘baby!!”
  %h2
    Who are the professionals returning for Strictly 2021?
  %p
    The professional line-up was confirmed earlier in 2021, but there was a slight change in summer. Janette Manrara was initially due to compete, but on 10th June 2021 it was revealed she would be replacing Zoe Ball as one of the hosts of Strictly: It Takes Two alongside Rylan Clark Neal.

    Furthermore, Anton Du Beke has stepped down from his professional dancer role to fill in as a judge on the panel.

    Four new Strictly pros have now been added to the line-up.
  %p
    There were some changes to the 2020 professional line-up, with Kevin Clifton and AJ Pritchard hanging up their dancing shoes as they departed from the series.

    In March 2020, Kevin Clifton quit Strictly Come Dancing after seven years on the show.

    A few weeks later, AJ Pritchard quit Strictly following a four-year stint.
  %h2
    Who are the Strictly Come Dancing 2021 judges?
  %p
    Confirmed: Shirley Ballas, Craig Revel Horwood, Motsi Mabuse and Anton Du Beke will judge on this year’s Strictly Come Dancing.

    The news was revealed in June 2021, and explained why Bruno Tonioli won’t be a part of the Strictly Come Dancing judges line-up.

    Bruno was unable to make it onto the panel last year due to travel restrictions brought on by the coronavirus pandemic.
    It was thought he’d make it back in time for the Strictly Come Dancing final after his work commitments on Dancing with the Stars came to end, however, that wasn’t the case.
  %h2
    Will Anton become a permanent fourth judge on Strictly Come Dancing in 2021?
  %p
    Yes, he will!

    Anton Du Beke enjoyed a two week stint on the panel in 2020 as he filled in for Motsi Mabuse while she isolated following a trip back home.

    After his appearance, Strictly fans called for Anton Du Beke to come back as judge. It was thought he wouldn’t return to the panel as he’d actually been announced as part of the professionals line-up.

    Speaking of his new role, Anton said: “My loves I cannot tell you how thrilled I am to be stepping into Bruno’s brogues for the next series of Strictly. It’s a dream come true to be judging alongside the best of the best and I promise to be kinder to all the couples than any of them have ever been to me.”

    It’s not thought to be a permanent replacement, rather just for this year instead.
  %h2
    Where is Strictly Come Dancing filmed?
  %p
    The Strictly Come Dancing filming location has remained the same since 2013. Following the closure of the BBC Television Centre, the show has always taken place in Elstree Studios.

    Despite many Strictly Come Dancing COVID changes, the show stayed at Elstree for 2020.

    There is one week many viewers look froward to – Blackpool – where the cast and crew pack their bags and head north to the seaside town for a glitter-filled special.

    However, sadly Strictly Come Dancing cancelled Blackpool Week for 2020, due to coronavirus restrictions and it looks like the cast and crew won’t be headed up north this year either.
  %p
    Strictly Come Dancing starts on BBC One on Saturday, 18th September. Want something else to watch? Check out our full TV Guide or visit our Entertainment hub for the latest news.
