%h1 My Favourites

favouritelist = @favouritelist.all

%tbody
  - @tv_shows.each do |tv_show|
    - if favouritelist.find(tv_show) do
      %tr
        %td
          - if tv_show.image.attached?
            %div.polaroid
              = image_tag tv_show.image
              %div.container
                = link_to tv_show.name, tv_show


//= link_to 'New Favouritelist', new_favouritelist_path
