/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Imports at the end of file
 @import "bootstrap-sprockets";
 @import "bootstrap";

 $font: Arial, sans-serif;
 $white: #FFFFFF;

// Theme colours
/*
 $theme-light: #718792;
 $theme-medium: #455a64;
 $theme-dark: #1c313a;
 $theme-pink: #ffcccb;
*/
$theme-light: #6d6d6d;
$theme-medium: #424242;
$theme-dark: #1b1b1b;
$theme-green: #cddc39;

 body {
   font-family: $font;
   color: $white;
   background-color: $theme-medium;
   background-size: 100%;
   margin: 10px;
   padding: 10px;

 }

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

// Navigation bar
.navbar.navbar-default {
  background-color: $theme-dark;
  border-color: $theme-dark;
  padding: 10px 0;
}
.navbar.navbar-default .navbar-brand {
  color: $white;
}
.navbar.navbar-default .navbar-brand:hover,
.navbar.navbar-default .navbar-brand:focus {
  color: $theme-green;
}
.navbar.navbar-default .navbar-text {
  color: $white;
}
.navbar.navbar-default .navbar-nav > li > a {
  color: $white;
}
.navbar.navbar-default .navbar-nav > li > a:hover,
.navbar.navbar-default .navbar-nav > li > a:focus {
  color: $theme-green;
}
.navbar.navbar-default .navbar-nav > .active > a,
.navbar.navbar-default .navbar-nav > .active > a:hover,
.navbar.navbar-default .navbar-nav > .active > a:focus {
  color: $theme-green;
  background-color: $white;
}
.navbar.navbar-default .navbar-nav > .open > a,
.navbar.navbar-default .navbar-nav > .open > a:hover,
.navbar.navbar-default .navbar-nav > .open > a:focus {
  color: $theme-green;
  background-color: $white;
}
.navbar.navbar-default .navbar-toggle {
  border-color: $white;
}
.navbar.navbar-default .navbar-toggle:hover,
.navbar.navbar-default .navbar-toggle:focus {
  background-color: $white;
}
.navbar.navbar-default .navbar-toggle .icon-bar {
  background-color: $white;
}
.navbar.navbar-default .navbar-collapse,
.navbar.navbar-default .navbar-form {
  border:none;
}
.navbar.navbar-default .navbar-link {
  color: $theme-medium;
}
.navbar.navbar-default .navbar-link:hover {
  color: $theme-green;
}
