// Place all the styles related to the tv_shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Theme colours

/*
$theme-light: #718792;
$theme-medium: #455a64;
$theme-dark: #1c313a;
*/
$theme-light: #6d6d6d;
$theme-medium: #424242;
$theme-dark: #1b1b1b;
$theme-green: #cddc39;

// Cards
div.polaroid {
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 30px;
  width: 550px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);

  img {
    //width: 100%;
    //max-height: auto;
    object-fit: cover;
    width: 550px;
    height: 300px;
  }
}



div.container {
  text-align: center;
  color: black;
  //max-width: 30%;
  width: 550px;
  padding: 10px 20px;
}


// News caption text
.text {
  background-color: black;
}

// Info box

/* box with image
div.box {
  background-color: $theme-pink;
  width: 300px;
  padding: 50px;
  margin: 20px;
  border-image: url(.img);

  .img {
    width: 100%;
    max-height: auto;
  }

}
*/

div.box {
  display: inline-block;
  background-color: $theme-medium;
  border: 15px solid $theme-green;
  width: 300px;
  padding: 50px;
  margin: 20px;
}

// Box for TV show descriptions
.descriptionbox {
  display: inline-block;
  background-color: $theme-dark;
  width: 50%;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}
